@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 94%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 22 91% 55%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 12 100% 50%; /* A red for highlights */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14% 4%;
    --foreground: 210 40% 98%;
    --card: 24 9.8% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 22 91% 55%;
    --primary-foreground: 210 20% 98%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 210 40% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 12 100% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @keyframes mistSwirl {
    0% { transform: translate(0, 0) rotate(0deg); }
    50% { transform: translate(20px, 10px) rotate(180deg); }
    100% { transform: translate(0, 0) rotate(360deg); }
  }
  
  #mist {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, rgba(255, 255, 255, 0.08) 0%, transparent 80%);
      animation: mistSwirl 30s linear infinite;
      pointer-events: none;
  }
}
